In [182]:
import datetime
import itertools
import json
import numpy as np
import os
import pandas as pd
from pandas_helpers import *
import pickle
import pprint
import random
import re
import requests
import seaborn
import sys
import time

pd.set_option('display.precision', 10)

DATA_DIR = 'data/citydata/crime'

random.seed(90210)

In [183]:
from pyproj import Proj

In [184]:
def combine_dates(row):
    # assumes a date column existings, adds a start_date column with unix timestamp
    row['start_date'] = int((row['date'] - datetime.datetime(1970, 1, 1)).total_seconds() * 1000)
    row['date'] = '{d.year}-{d.month}-{d.day}'.format(d=row['date'])
    
    return row

# Boston Crime Data

## Boston Crime (Entity Analysis)

In [251]:
df = pd.read_csv(os.path.join(DATA_DIR, 'boston', 'boston_crime_2011_to_2014.csv'),
                 parse_dates=['FROMDATE'],
                 usecols=['COMPNOS', 'INCIDENT_TYPE_DESCRIPTION', 'FROMDATE', 'WEAPONTYPE', 'Location'])

In [252]:
df = df[df['FROMDATE'].dt.year >= 2012]
df.head()

,COMPNOS,INCIDENT_TYPE_DESCRIPTION,FROMDATE,WEAPONTYPE,Location
10877,142004841,FRAUD,2012-01-01,Unarmed,"(42.3594, -71.0587)"
10878,140244631,FRAUD,2012-01-01,Unarmed,"(42.36022134, -71.06596456)"
10879,140111460,FRAUD,2012-01-01,Unarmed,"(42.25185683, -71.1310008)"
10880,140056694,FRAUD,2012-01-01,Unarmed,"(42.37925634, -71.06021456)"
10881,130756502,FRAUD,2012-01-01,Unarmed,"(42.35057634, -71.07274456)"

In [253]:
df = df.set_index('COMPNOS')

df['FROMDATE'] = df['FROMDATE'].map(lambda dt: int((dt - datetime.datetime(1970, 1, 1)).total_seconds() * 1000))

In [254]:
df.head()

,INCIDENT_TYPE_DESCRIPTION,FROMDATE,WEAPONTYPE,Location
COMPNOS,,,,
142004841,FRAUD,1325376000000,Unarmed,"(42.3594, -71.0587)"
140244631,FRAUD,1325376000000,Unarmed,"(42.36022134, -71.06596456)"
140111460,FRAUD,1325376000000,Unarmed,"(42.25185683, -71.1310008)"
140056694,FRAUD,1325376000000,Unarmed,"(42.37925634, -71.06021456)"
130756502,FRAUD,1325376000000,Unarmed,"(42.35057634, -71.07274456)"

In [255]:
def parse_loc(row):
    lat, lon = map(str.split, row['Location'].strip('()').split(','))
    
    row['lat'] = lat[0]
    row['lon'] = lon[0]
    
    return row

df = df.apply(parse_loc, axis=1)

In [256]:
df.head()

,INCIDENT_TYPE_DESCRIPTION,FROMDATE,WEAPONTYPE,Location,lat,lon
COMPNOS,,,,,,
142004841,FRAUD,1325376000000,Unarmed,"(42.3594, -71.0587)",42.3594,-71.0587
140244631,FRAUD,1325376000000,Unarmed,"(42.36022134, -71.06596456)",42.36022134,-71.06596456
140111460,FRAUD,1325376000000,Unarmed,"(42.25185683, -71.1310008)",42.25185683,-71.1310008
140056694,FRAUD,1325376000000,Unarmed,"(42.37925634, -71.06021456)",42.37925634,-71.06021456
130756502,FRAUD,1325376000000,Unarmed,"(42.35057634, -71.07274456)",42.35057634,-71.07274456

In [257]:
len(df)

307446

In [258]:
df['WEAPONTYPE'].replace({'Other': 'Armed: Other',
                          'Unarmed': ''}, inplace=True)

In [259]:
df.head()

,INCIDENT_TYPE_DESCRIPTION,FROMDATE,WEAPONTYPE,Location,lat,lon
COMPNOS,,,,,,
142004841,FRAUD,1325376000000,,"(42.3594, -71.0587)",42.3594,-71.0587
140244631,FRAUD,1325376000000,,"(42.36022134, -71.06596456)",42.36022134,-71.06596456
140111460,FRAUD,1325376000000,,"(42.25185683, -71.1310008)",42.25185683,-71.1310008
140056694,FRAUD,1325376000000,,"(42.37925634, -71.06021456)",42.37925634,-71.06021456
130756502,FRAUD,1325376000000,,"(42.35057634, -71.07274456)",42.35057634,-71.07274456

In [260]:
df['description'] = ''

def smush(row):
    row['description'] = '{} '.format(row['INCIDENT_TYPE_DESCRIPTION'])
    
    if row['WEAPONTYPE']:
        row['description'] += '[{}]'.format(row['WEAPONTYPE'])
        
    row['description'] = row['description'].strip()
    
    return row

df = df.apply(smush, axis=1)

In [261]:
try:
    df.drop(['INCIDENT_TYPE_DESCRIPTION', 'WEAPONTYPE', 'Location'],
           axis=1,
           inplace=True)
except ValueError:
    pass

In [262]:
df.head()

                FROMDATE          lat           lon description
COMPNOS
142004841  1325376000000      42.3594      -71.0587       FRAUD
140244631  1325376000000  42.36022134  -71.06596456       FRAUD
140111460  1325376000000  42.25185683   -71.1310008       FRAUD
140056694  1325376000000  42.37925634  -71.06021456       FRAUD
130756502  1325376000000  42.35057634  -71.07274456       FRAUD

In [263]:
df = df_rearrange_columns(df, 
                          ['start_date', 'latitude', 'longitude', 'description'],
                          ['start_date', 'latitude', 'longitude', 'description'])

In [264]:
df.head()

              start_date     latitude     longitude description
COMPNOS
142004841  1325376000000      42.3594      -71.0587       FRAUD
140244631  1325376000000  42.36022134  -71.06596456       FRAUD
140111460  1325376000000  42.25185683   -71.1310008       FRAUD
140056694  1325376000000  42.37925634  -71.06021456       FRAUD
130756502  1325376000000  42.35057634  -71.07274456       FRAUD

In [265]:
df_to_json_split_wo_index(df,
                          'boston_crime_entity_data.json',
                          ['Start Date (ms from epoch)',
                           'Latitude of Crime', 
                           'Longitude of Crime',
                           'Description of Crime (with Weapon Type)'])

In [266]:
len(df)

307446

## Boston Crime (Time Series)

In [332]:
df = pd.read_csv(os.path.join(DATA_DIR, 'boston', 'boston_crime_2011_to_2014.csv'), 
                 parse_dates=['FROMDATE'],
                 usecols=['COMPNOS', 'NatureCode', 'INCIDENT_TYPE_DESCRIPTION', 'MAIN_CRIMECODE', 'FROMDATE',
                          'Shooting', 'DOMESTIC', 'Location'],
                 index_col='COMPNOS')

In [333]:
df.head()

,NatureCode,INCIDENT_TYPE_DESCRIPTION,MAIN_CRIMECODE,FROMDATE,Shooting,DOMESTIC,Location
COMPNOS,,,,,,,
110650363,IVMV,Plates,Plates,2011-11-21 05:45:00,No,No,"(42.3594, -71.0587)"
110637957,VANRPT,VANDALISM,14xx,2011-11-21 05:45:00,No,No,"(42.34448635, -71.07217456)"
110638477,IVMV,LARCENY FROM MOTOR VEHICLE,06MV,2011-11-21 06:00:00,No,No,"(42.35246135, -71.12767954)"
110637659,ILLPRK,TOWED,TOWED,2011-11-21 06:00:00,No,No,"(42.33637135, -71.05237956)"
110637584,ARREST,VAL,VAL,2011-11-21 06:10:00,No,No,"(42.31535135, -71.07842956)"

In [334]:
# Shooting and domestic are the only columns that might show an interesting grouping...
# the others have 60+ unique values

In [335]:
df.drop(['INCIDENT_TYPE_DESCRIPTION', 'NatureCode', 'MAIN_CRIMECODE'], axis=1, inplace=True)

In [336]:
df = pd.read_csv(os.path.join(DATA_DIR, 'boston', 'boston_crime_2011_to_2014.csv'), 
                 parse_dates=['FROMDATE'],
                 usecols=['COMPNOS', 'FROMDATE', 'Shooting', 'DOMESTIC', 'Location'],
                 index_col='COMPNOS')

In [337]:
# only consider crimes taking place from 2012 onwards
df = df[df['FROMDATE'].dt.date >= datetime.date(2012, 01, 01)]

In [338]:
df.head(10)

            FROMDATE Shooting DOMESTIC                     Location
COMPNOS
142004841 2012-01-01       No       No          (42.3594, -71.0587)
140244631 2012-01-01       No       No  (42.36022134, -71.06596456)
140111460 2012-01-01       No       No   (42.25185683, -71.1310008)
140056694 2012-01-01       No       No  (42.37925634, -71.06021456)
130756502 2012-01-01       No       No  (42.35057634, -71.07274456)
130687431 2012-01-01       No       No  (42.33342135, -71.08622455)
130105439 2012-01-01       No       No  (42.31586601, -71.08511121)
130060448 2012-01-01       No       No          (42.3594, -71.0587)
120813267 2012-01-01       No       No  (42.26408636, -71.10334456)
120807305 2012-01-01       No       No          (42.3594, -71.0587)

In [339]:
# Overall statistics of dataset for later sanity checks

print '{:d} crimes reported.'.format(len(df))
print '{:d} are domestic, {:d} are shootings, {:d} are both.'.format(len(df[df['DOMESTIC'] == 'Yes']),
                                                                     len(df[df['Shooting'] == 'Yes']),
                                                                     len(df[(df['DOMESTIC'] == 'Yes') & 
                                                                            (df['Shooting'] == 'Yes')]))

307446 crimes reported.
46006 are domestic, 673 are shootings, 2 are both.

In [378]:
df.groupby([df['FROMDATE'].dt.year]).count()['FROMDATE']

2012    103837
2013    102578
2014    101031
Name: FROMDATE, dtype: int64

In [340]:
with pd.option_context('display.max_rows', 999):
    print df

                     FROMDATE Shooting DOMESTIC                     Location
COMPNOS
142004841 2012-01-01 00:00:00       No       No          (42.3594, -71.0587)
140244631 2012-01-01 00:00:00       No       No  (42.36022134, -71.06596456)
140111460 2012-01-01 00:00:00       No       No   (42.25185683, -71.1310008)
140056694 2012-01-01 00:00:00       No       No  (42.37925634, -71.06021456)
130756502 2012-01-01 00:00:00       No       No  (42.35057634, -71.07274456)
130687431 2012-01-01 00:00:00       No       No  (42.33342135, -71.08622455)
130105439 2012-01-01 00:00:00       No       No  (42.31586601, -71.08511121)
130060448 2012-01-01 00:00:00       No       No          (42.3594, -71.0587)
120813267 2012-01-01 00:00:00       No       No  (42.26408636, -71.10334456)
120807305 2012-01-01 00:00:00       No       No          (42.3594, -71.0587)
120645422 2012-01-01 00:00:00       No       No    (42.27746141, -71.119355)
120216677 2012-01-01 00:00:00       No       No  (42.34941135, -71.08314456)
120186238 2012-01-01 00:00:00       No       No  (42.29809635, -71.05696956)
120168657 2012-01-01 00:00:00       No       No  (42.28427881, -71.07410675)
120161422 2012-01-01 00:00:00       No       No  (42.26254137, -71.11581952)
120017296 2012-01-01 00:00:00       No       No   (42.3286598, -71.08561842)
120001327 2012-01-01 00:00:00       No       No  (42.34934634, -71.08595455)
142011308 2012-01-01 00:01:00       No       No  (42.29283635, -71.05424457)
130413112 2012-01-01 00:01:00       No       No  (42.27923136, -71.05931457)
120136480 2012-01-01 00:01:00       No       No  (42.29394636, -71.11892455)
120009295 2012-01-01 00:01:00       No       No   (42.34264591, -71.1511969)
120000008 2012-01-01 00:01:00       No       No  (42.35511135, -71.06333957)
120000020 2012-01-01 00:08:00       No      Yes  (42.37849634, -71.05864956)
110713150 2012-01-01 00:09:00       No      Yes  (42.30868213, -71.07933421)
120006981 2012-01-01 00:15:00       No       No  (42.35000634, -71.06513456)
120000058 2012-01-01 00:15:00       No       No  (42.35667135, -71.06173957)
120000045 2012-01-01 00:15:00       No       No  (42.35229135, -71.07600956)
120002560 2012-01-01 00:20:00       No       No  (42.30485636, -71.06006457)
120000110 2012-01-01 00:20:00       No       No  (42.34580634, -71.06731456)
120000384 2012-01-01 00:23:00       No       No  (42.33050135, -71.10303955)
120000067 2012-01-01 00:24:00       No       No  (42.33182635, -71.10432955)
120000062 2012-01-01 00:24:00       No       No  (42.27053175, -71.14924034)
120001651 2012-01-01 00:30:00       No       No  (42.34998635, -71.08103456)
120000729 2012-01-01 00:30:00       No       No  (42.29665635, -71.05553456)
120000116 2012-01-01 00:30:00       No       No  (42.28896136, -71.05275957)
120000076 2012-01-01 00:31:00       No       No  (42.26148136, -71.11165955)
120000091 2012-01-01 00:35:00       No       No  (42.35754362, -71.05886606)
120000089 2012-01-01 00:38:00       No       No  (42.31384635, -71.07929956)
120000065 2012-01-01 00:40:00       No       No  (42.35046074, -71.15265917)
120000094 2012-01-01 00:42:00       No       No  (42.35239135, -71.07699456)
120000106 2012-01-01 00:46:00       No      Yes   (42.3075695, -71.08260564)
120000120 2012-01-01 00:50:00       No       No  (42.35065135, -71.07523956)
120001626 2012-01-01 01:00:00       No       No          (42.3594, -71.0587)
120001057 2012-01-01 01:00:00       No       No  (42.25916636, -71.11527455)
120001048 2012-01-01 01:00:00       No       No  (42.35499132, -71.12888958)
120000959 2012-01-01 01:00:00       No       No   (42.33902608, -71.1564155)
120000814 2012-01-01 01:00:00       No       No  (42.34900635, -71.15162953)
120000708 2012-01-01 01:00:00       No       No  (42.28720136, -71.09037956)
120000206 2012-01-01 01:00:00       No       No          (42.3594, -71.0587)
120000158 2012-01-01 01:05:00       No       No  (42.27080515, -71.09260083)
120000441 2012-01-01 01:18:00       No       No  (42.33328135, -71.02498958)
120000199 2012-01-01 01:18:00       No       No  (42.28454636, -71.11899454)
120000214 2012-01-01 01:21:00       No       No  (42.33466635, -71.04029957)
120000229 2012-01-01 01:26:00       No       No  (42.34965135, -71.06972956)
120000243 2012-01-01 01:29:00       No       No  (42.34491393, -71.09641336)
120000240 2012-01-01 01:29:00       No       No  (42.29937075, -71.15891748)
120002953 2012-01-01 01:30:00       No       No  (42.33027635, -71.05565956)
120001374 2012-01-01 01:30:00       No       No          (42.3594, -71.0587)
120001344 2012-01-01 01:30:00       No       No  (42.35640135, -71.13689954)
120001009 2012-01-01 01:30:00       No       No  (42.35111634, -71.05961456)
120000568 2012-01-01 01:30:00       No      Yes  (42.26889638, -71.10810451)
120000319 2012-01-01 01:30:00       No       No          (42.3594, -71.0587)
120000259 2012-01-01 01:30:00       No       No  (42.35035635, -71.07631956)
120000239 2012-01-01 01:31:00       No       No  (42.30573833, -71.07943119)
120000262 2012-01-01 01:36:00       No       No  (42.27660136, -71.08527957)
120000275 2012-01-01 01:40:00       No       No  (42.36493691, -71.06055366)
120001072 2012-01-01 01:45:00       No       No  (42.31214486, -71.05199914)
120000288 2012-01-01 01:45:00       No       No  (42.33488635, -71.07901956)
120000188 2012-01-01 01:45:00       No       No  (42.32162135, -71.09200455)
120000286 2012-01-01 01:49:00       No       No  (42.29241136, -71.07947956)
120000306 2012-01-01 01:50:00       No       No  (42.34283135, -71.05714957)
120000314 2012-01-01 01:54:00       No       No  (42.34993134, -71.06720956)
120000315 2012-01-01 01:55:00       No      Yes  (42.28831136, -71.06358456)
120000313 2012-01-01 01:55:00       No       No  (42.36068135, -71.05596957)
120002717 2012-01-01 02:00:00       No       No  (42.37374134, -71.03903957)
120000918 2012-01-01 02:00:00       No       No          (42.3594, -71.0587)
120000557 2012-01-01 02:00:00       No       No  (42.35810694, -71.06210877)
120000352 2012-01-01 02:00:00       No       No  (42.29035956, -71.12090609)
120000346 2012-01-01 02:00:00       No       No  (42.35324634, -71.06101456)
120000321 2012-01-01 02:00:00       No       No  (42.33151135, -71.07083456)
120000339 2012-01-01 02:04:00       No       No  (42.30488136, -71.08121956)
120000347 2012-01-01 02:06:00       No       No  (42.32412187, -71.10138271)
120000357 2012-01-01 02:12:00       No       No  (42.34638135, -71.08482955)
120000356 2012-01-01 02:13:00       No       No  (42.24895386, -71.11708728)
120000450 2012-01-01 02:15:00       No       No          (42.3594, -71.0587)
120000355 2012-01-01 02:15:00       No      Yes  (42.34813135, -71.08448455)
120000368 2012-01-01 02:17:00       No       No  (42.31121136, -71.10876955)
120003765 2012-01-01 02:20:00       No       No  (42.33050135, -71.10303955)
120002081 2012-01-01 02:23:00       No       No  (42.34238635, -71.07948956)
120000378 2012-01-01 02:27:00       No       No  (42.34037135, -71.07342956)
120001328 2012-01-01 02:30:00       No       No  (42.28657136, -71.09059956)
120000473 2012-01-01 02:30:00       No       No          (42.3594, -71.0587)
120000445 2012-01-01 02:30:00       No       No  (42.35000634, -71.06513456)
120000366 2012-01-01 02:31:00       No       No  (42.35205208, -71.05974097)
120000437 2012-01-01 02:35:00       No       No  (42.34955663, -71.14859474)
120000413 2012-01-01 02:35:00       No      Yes  (42.35880634, -71.06592456)
120000456 2012-01-01 02:52:00       No       No  (42.32227635, -71.10883455)
120000458 2012-01-01 02:53:00       No      Yes  (42.30342636, -71.06674457)
120000432 2012-01-01 02:53:00       No       No  (42.34045635, -71.07558455)
120000448 2012-01-01 02:55:00       No       No  (42.31857365, -71.03854816)
120000465 2012-01-01 02:58:00       No      Yes  (42.28984441, -71.13492968)
120000468 2012-01-01 02:59:00       No      Yes  (42.30538136, -71.11325955)
120015393 2012-01-01 03:00:00       No       No   (42.3304605, -71.10079183)
120000476 2012-01-01 03:00:00       No      Yes  (42.33664635, -71.08624955)
120000478 2012-01-01 03:06:00       No       No  (42.34923635, -71.08036955)
120000951 2012-01-01 03:11:00       No       No  (42.31855742, -71.05778756)
120004963 2012-01-01 03:15:00       No       No  (42.34976134, -71.05806456)
120000474 2012-01-01 03:18:00       No       No  (42.34366135, -71.08800455)
120000584 2012-01-01 03:20:00       No       No  (42.25932629, -71.14804963)
120000491 2012-01-01 03:20:00       No       No          (42.3594, -71.0587)
120000500 2012-01-01 03:22:00       No       No  (42.33623635, -71.07735456)
120000558 2012-01-01 03:25:00       No       No  (42.28801136, -71.08025956)
120003264 2012-01-01 03:30:00       No       No  (42.27785639, -71.11616328)
120000520 2012-01-01 03:30:00       No      Yes  (42.35324634, -71.06101456)
120000510 2012-01-01 03:30:00       No       No    (42.27987745, -71.131068)
120000512 2012-01-01 03:31:00       No       No  (42.35028135, -71.13095954)
120000511 2012-01-01 03:35:00       No      Yes  (42.31883135, -71.06146456)
120000544 2012-01-01 03:45:00       No       No  (42.30945135, -71.06665456)
120000534 2012-01-01 03:47:00       No       No  (42.38205134, -71.03615957)
120000533 2012-01-01 03:47:00       No       No  (42.34497135, -71.06896956)
120000546 2012-01-01 03:50:00       No       No  (42.35473135, -71.07720956)
120000542 2012-01-01 03:53:00       No       No  (42.32834961, -71.07858581)
120000552 2012-01-01 03:56:00       No       No          (42.3594, -71.0587)
120688232 2012-01-01 04:00:00       No       No   (42.3286598, -71.08561842)
120001674 2012-01-01 04:00:00       No       No   (42.34934037, -71.1655051)
120001155 2012-01-01 04:00:00       No       No  (42.34134755, -71.07535754)
120001007 2012-01-01 04:00:00       No       No  (42.25591137, -71.12780454)
120000862 2012-01-01 04:00:00       No       No  (42.30132135, -71.06759956)
120000559 2012-01-01 04:05:00       No       No  (42.30538422, -71.06549055)
120000532 2012-01-01 04:10:00       No       No  (42.28413136, -71.09306954)
120000628 2012-01-01 04:15:00       No       No  (42.28413136, -71.09306954)
120000588 2012-01-01 04:25:00       No       No  (42.33446119, -71.08802827)
120001296 2012-01-01 04:27:00       No       No  (42.34879135, -71.13802954)
120000598 2012-01-01 04:32:00       No       No  (42.35081634, -71.06719956)
120000604 2012-01-01 04:39:00       No       No  (42.35037635, -71.08784956)
120000606 2012-01-01 04:41:00       No       No  (42.35910134, -71.14124953)
120000592 2012-01-01 04:45:00       No       No  (42.28748136, -71.08828956)
120000625 2012-01-01 04:54:00       No       No  (42.28572636, -71.09031956)
120000626 2012-01-01 04:57:00       No       No  (42.25748137, -71.11965955)
120000629 2012-01-01 05:02:00       No       No  (42.30513635, -71.08328456)
120000706 2012-01-01 05:11:00       No       No  (42.33935135, -71.05442457)
120000646 2012-01-01 05:22:00       No       No   (42.33604989, -71.1078052)
120000657 2012-01-01 05:30:00       No      Yes  (42.29008683, -71.12195463)
120000640 2012-01-01 05:51:00       No       No  (42.33935135, -71.05442457)
120536835 2012-01-01 06:00:00       No       No   (42.30298731, -71.1302052)
120000668 2012-01-01 06:00:00       No       No  (42.28572636, -71.09031956)
120000968 2012-01-01 06:05:00       No       No   (42.34130529, -71.0547108)
120000962 2012-01-01 06:05:00       No       No   (42.34130529, -71.0547108)
120000612 2012-01-01 06:05:00       No       No          (42.3594, -71.0587)
120000683 2012-01-01 06:31:00       No       No  (42.34398135, -71.14240454)
120000686 2012-01-01 06:40:00       No       No  (42.28347203, -71.07645511)
120000691 2012-01-01 06:49:00       No       No  (42.33431135, -71.08205956)
120000689 2012-01-01 06:50:00       No      Yes  (42.25872636, -71.16004453)
120000692 2012-01-01 06:52:00       No       No  (42.27213636, -71.17189953)
120000690 2012-01-01 06:54:00       No      Yes  (42.34506134, -71.08057455)
120064566 2012-01-01 07:00:00       No       No  (42.28871136, -71.09117955)
120001673 2012-01-01 07:00:00       No       No  (42.28877455, -71.08353344)
120000702 2012-01-01 07:12:00       No       No  (42.28740136, -71.13227954)
120000707 2012-01-01 07:19:00       No       No  (42.30789136, -71.11034955)
120000943 2012-01-01 07:26:00       No       No  (42.28797136, -71.13650954)
120000709 2012-01-01 07:26:00       No       No  (42.28797136, -71.13650954)
120000869 2012-01-01 07:30:00       No       No  (42.36680634, -71.03138957)
120000712 2012-01-01 07:37:00       No       No  (42.36160634, -71.05200456)
120000717 2012-01-01 07:41:00       No       No  (42.29859136, -71.06065957)
120000836 2012-01-01 07:58:00       No       No  (42.33576635, -71.07407956)
142018587 2012-01-01 08:00:00       No       No  (42.29040636, -71.09046955)
130778575 2012-01-01 08:00:00       No       No  (42.26489136, -71.11567455)
130130382 2012-01-01 08:00:00       No       No  (42.37007134, -71.03858457)
130130184 2012-01-01 08:00:00       No       No  (42.32081647, -71.11554407)
120808594 2012-01-01 08:00:00       No       No  (42.28710136, -71.08986955)
120665355 2012-01-01 08:00:00       No       No  (42.35318135, -71.17212953)
120578877 2012-01-01 08:00:00       No       No  (42.34016135, -71.08921455)
120493340 2012-01-01 08:00:00       No       No  (42.35882804, -71.05836216)
120263700 2012-01-01 08:00:00       No       No  (42.30195636, -71.08382455)
120001282 2012-01-01 08:00:00       No       No  (42.34938895, -71.14242987)
120000743 2012-01-01 08:05:00       No       No    (42.27579613, -71.147603)
120000757 2012-01-01 08:15:00       No       No  (42.34869855, -71.09770204)
120000759 2012-01-01 08:20:00       No       No   (42.3304605, -71.10079183)
120000812 2012-01-01 08:30:00       No       No  (42.28619136, -71.13862454)
120000778 2012-01-01 08:30:00       No       No          (42.3594, -71.0587)
120000782 2012-01-01 08:40:00       No      Yes  (42.31076635, -71.05905456)
120000772 2012-01-01 08:40:00       No       No  (42.34868134, -71.06401456)
120000747 2012-01-01 08:45:00       No      Yes  (42.29088136, -71.13557954)
140020015 2012-01-01 09:00:00       No       No  (42.32552496, -71.05772321)
120433949 2012-01-01 09:00:00       No       No  (42.28291636, -71.13060954)
120354136 2012-01-01 09:00:00       No       No          (42.3594, -71.0587)
120312577 2012-01-01 09:00:00       No       No  (42.35141634, -71.06162956)
120230466 2012-01-01 09:00:00       No       No  (42.28573136, -71.09212455)
120229823 2012-01-01 09:00:00       No       No          (42.3594, -71.0587)
120139324 2012-01-01 09:00:00       No       No  (42.31523635, -71.11005455)
120093443 2012-01-01 09:00:00       No       No  (42.34977635, -71.07842956)
120093315 2012-01-01 09:00:00       No       No  (42.30503221, -71.11949593)
120044347 2012-01-01 09:00:00       No       No   (42.2744961, -71.08117819)
120038760 2012-01-01 09:00:00       No       No  (42.28399636, -71.13334954)
120020821 2012-01-01 09:00:00       No       No  (42.30126842, -71.11058908)
120015131 2012-01-01 09:00:00       No       No  (42.34346135, -71.13904954)
120000789 2012-01-01 09:06:00       No       No  (42.33088301, -71.06404063)
120000793 2012-01-01 09:09:00       No       No  (42.33155135, -71.08336455)
120000808 2012-01-01 09:28:00       No      Yes  (42.30027181, -71.07883611)
120001315 2012-01-01 09:30:00       No       No  (42.30567636, -71.06012957)
120000826 2012-01-01 09:30:00       No       No  (42.34066135, -71.05704957)
120000820 2012-01-01 09:39:00       No      Yes  (42.27441839, -71.13625815)
120002359 2012-01-01 09:41:00       No       No  (42.30939136, -71.08272956)
120000839 2012-01-01 09:58:00       No       No  (42.28576136, -71.06427957)
120000837 2012-01-01 09:58:00       No       No  (42.25346637, -71.12796954)
120251238 2012-01-01 10:00:00       No       No  (42.34998892, -71.14091642)
120063014 2012-01-01 10:00:00       No       No  (42.34491393, -71.09641336)
120000848 2012-01-01 10:01:00       No       No  (42.31614635, -71.09793955)
120000861 2012-01-01 10:15:00       No      Yes   (42.30926958, -71.0787186)
120000870 2012-01-01 10:25:00       No       No  (42.30911635, -71.08283956)
120008807 2012-01-01 10:30:00       No       No  (42.34204443, -71.07732314)
120000853 2012-01-01 10:31:00       No       No  (42.32828135, -71.05690956)
120000791 2012-01-01 10:32:00       No       No  (42.34338696, -71.06640317)
120006314 2012-01-01 11:00:00       No       No          (42.3594, -71.0587)
120000901 2012-01-01 11:00:00       No       No  (42.38318134, -71.03931956)
120000906 2012-01-01 11:10:00       No       No   (42.3489982, -71.13910648)
120000922 2012-01-01 11:19:00       No       No  (42.33593135, -71.08008956)
120000921 2012-01-01 11:20:00       No       No  (42.28405295, -71.11241077)
120000919 2012-01-01 11:23:00       No      Yes  (42.37951134, -71.02861458)
120000932 2012-01-01 11:27:00       No       No  (42.28557136, -71.04744457)
120002389 2012-01-01 11:30:00       No       No  (42.32080135, -71.09730455)
120000946 2012-01-01 11:36:00       No       No  (42.33600135, -71.05007956)
120001459 2012-01-01 11:40:00       No       No  (42.24999137, -71.12242955)
120000933 2012-01-01 11:41:00       No       No  (42.35345135, -71.13588453)
120000952 2012-01-01 11:42:00       No       No  (42.35941634, -71.06319956)
120000964 2012-01-01 11:45:00       No       No  (42.35333635, -71.08019956)
120000956 2012-01-01 11:45:00       No       No  (42.29156636, -71.07663456)
142001001 2012-01-01 12:00:00       No       No  (42.35047603, -71.12773519)
140087143 2012-01-01 12:00:00       No       No          (42.3594, -71.0587)
130097411 2012-01-01 12:00:00       No       No  (42.28710636, -71.15398453)
120673901 2012-01-01 12:00:00       No      Yes  (42.27832197, -71.07342163)
120619815 2012-01-01 12:00:00       No       No  (42.34029135, -71.07843456)
120618034 2012-01-01 12:00:00       No       No  (42.34674635, -71.07328955)
120262112 2012-01-01 12:00:00       No       No  (42.30197135, -71.05697957)
120241636 2012-01-01 12:00:00       No       No  (42.31362635, -71.06317956)
120231324 2012-01-01 12:00:00       No       No  (42.33602135, -71.07518455)
120231285 2012-01-01 12:00:00       No       No  (42.36009134, -71.05581956)
120224033 2012-01-01 12:00:00       No       No  (42.35116634, -71.06292956)
120196123 2012-01-01 12:00:00       No      Yes  (42.34739916, -71.17062951)
120187978 2012-01-01 12:00:00       No       No  (42.30523635, -71.08088456)
120181446 2012-01-01 12:00:00       No       No  (42.28130136, -71.12308455)
120169713 2012-01-01 12:00:00       No       No  (42.34379135, -71.15314453)
120159350 2012-01-01 12:00:00       No       No   (42.34575897, -71.1459119)
120136719 2012-01-01 12:00:00       No       No  (42.29838636, -71.07394956)
120042543 2012-01-01 12:00:00       No       No    (42.3368196, -71.0747384)
120022652 2012-01-01 12:00:00       No       No  (42.27420771, -71.07002225)
120013703 2012-01-01 12:00:00       No       No  (42.35055135, -71.09055956)
120006554 2012-01-01 12:00:00       No       No  (42.31700135, -71.06508957)
120004034 2012-01-01 12:00:00       No       No  (42.36578134, -71.03386457)
120002618 2012-01-01 12:00:00       No       No  (42.32233637, -71.05873954)
120001190 2012-01-01 12:00:00       No       No  (42.36059647, -71.05370225)
120000971 2012-01-01 12:00:00       No       No   (42.34130529, -71.0547108)
120000995 2012-01-01 12:10:00       No       No  (42.34874135, -71.08564956)
120000984 2012-01-01 12:11:00       No       No  (42.34620135, -71.08564955)
120000999 2012-01-01 12:18:00       No       No  (42.27433137, -71.10915955)
120001005 2012-01-01 12:25:00       No       No  (42.31379135, -71.06534956)
120001011 2012-01-01 12:26:00       No       No  (42.35436634, -71.16740948)
120001025 2012-01-01 12:44:00       No       No  (42.34038099, -71.06967891)

In [363]:
data = df.groupby([df['FROMDATE'].dt.year,
                   df['FROMDATE'].dt.month,
                   df['FROMDATE'].dt.day,
                   df['FROMDATE'].dt.hour]).count()['FROMDATE']

In [364]:
data = data.reset_index()
data.columns = ['Year', 'Month', 'Day', 'Hour', 'Events']

In [365]:
assert data['Events'].sum() == 307446 # Make sure events by hour is the same amount of events in the original dataset

In [366]:
data.head()

   Year  Month  Day  Hour  Events
0  2012      1    1     0      42
1  2012      1    1     1      32
2  2012      1    1     2      28
3  2012      1    1     3      21
4  2012      1    1     4      16

In [367]:
data['date'] = pd.to_datetime(data['Year'].astype(str) + ' ' + data['Month'].astype(str) + ' ' + data['Day'].astype(str) +
                             ' ' + data['Hour'].astype(str) + ':00:00')

In [368]:
data.head()

   Year  Month  Day  Hour  Events                date
0  2012      1    1     0      42 2012-01-01 00:00:00
1  2012      1    1     1      32 2012-01-01 01:00:00
2  2012      1    1     2      28 2012-01-01 02:00:00
3  2012      1    1     3      21 2012-01-01 03:00:00
4  2012      1    1     4      16 2012-01-01 04:00:00

In [369]:
try:
    data.drop(['Year', 'Month', 'Day', 'Hour'], axis=1, inplace=True)
except ValueError:
    pass

In [370]:
data.head()

   Events                date
0      42 2012-01-01 00:00:00
1      32 2012-01-01 01:00:00
2      28 2012-01-01 02:00:00
3      21 2012-01-01 03:00:00
4      16 2012-01-01 04:00:00

In [371]:
data = data.apply(combine_dates, axis=1)

In [372]:
data.head()

   Events      date     start_date
0      42  2012-1-1  1325376000000
1      32  2012-1-1  1325379600000
2      28  2012-1-1  1325383200000
3      21  2012-1-1  1325386800000
4      16  2012-1-1  1325390400000

In [373]:
data.columns = ['events', 'date', 'start_date']
data = data.ix[:, ['date', 'start_date', 'events']]
data.head()

       date     start_date  events
0  2012-1-1  1325376000000      42
1  2012-1-1  1325379600000      32
2  2012-1-1  1325383200000      28
3  2012-1-1  1325386800000      21
4  2012-1-1  1325390400000      16

In [376]:
assert data['events'].sum() == 307446

In [386]:
df_to_json_split_wo_index(data,
                          'boston_crime_data.json', 
                          ['Date of Event', 'Hour of Event (ms from epoch)', 'Number of Events'])

In [620]:
# Sanity Checks
with open('boston_crime_data.json', 'rb') as infile:
    data = json.load(infile)
    print sum([x[2] for x in data['data']])

307446

# DC Crime Data

## DC Crime (Entity Analysis)

In [833]:
df = df_orig = df_csv_from_dir(os.path.join(DATA_DIR, 'dc'), 
                               parse_dates=['START_DATE', 'END_DATE', 'REPORT_DAT'])

In [834]:
df.head()

,REPORT_DAT,SHIFT,OFFENSE,METHOD,BLOCK,DISTRICT,PSA,WARD,ANC,NEIGHBORHOOD_CLUSTER,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,CCN,XBLOCK,YBLOCK,START_DATE,END_DATE
0,2014-11-29 14:20:00,DAY,ROBBERY,GUN,2000 - 2069 BLOCK OF BRYANT STREET NE,5,505,5,5C,Cluster 22,011100 3,11100,Precinct 72,14184429,402097.3499999999767169356,139269.8999999999941792339,2014-11-28 18:30:00,2014-11-29 14:00:00
1,2015-01-19 14:46:00,DAY,ROBBERY,OTHERS,1700 - 1728 BLOCK OF MONTELLO AVENUE NE,5,506,5,5D,Cluster 23,008804 2,8804,Precinct 78,15009223,401248.0000000000000000000,137937.0000000000000000000,2015-01-19 14:34:00,2015-01-19 14:46:00
2,2014-08-19 20:09:00,EVENING,BURGLARY,OTHERS,1706 - 1799 BLOCK OF 2ND STREET NW,5,501,5,5E,Cluster 21,003400 2,3400,Precinct 19,14125361,398774.0000000000000000000,138427.0000000000000000000,2014-08-19 09:00:00,2014-08-19 20:09:00
3,2014-08-30 05:40:00,MIDNIGHT,THEFT/OTHER,OTHERS,3000 - 3133 BLOCK OF RHODE ISLAND AVENUE NE,5,503,5,5C,Cluster 24,011100 2,11100,Precinct 69,14131597,403053.0000000000000000000,140739.0000000000000000000,2014-08-30 04:51:00,2014-08-30 04:58:00
4,2014-07-02 02:56:00,MIDNIGHT,THEFT/OTHER,OTHERS,2500 - 2598 BLOCK OF BENNING ROAD NE,5,507,7,7D,Cluster 25,007903 1,7903,Precinct 80,14096750,402530.0000000000000000000,136674.0000000000000000000,2014-07-02 02:54:00,2014-07-02 02:54:00

In [836]:
pd.unique(df['OFFENSE'])

array(['ROBBERY', 'BURGLARY', 'THEFT/OTHER', 'THEFT F/AUTO',
       'MOTOR VEHICLE THEFT', 'ASSAULT W/DANGEROUS WEAPON', 'HOMICIDE',
       'SEX ABUSE', 'ARSON'], dtype=object)

## DC Crime (Time Series)

In [713]:
df = df_orig = df_csv_from_dir(os.path.join(DATA_DIR, 'dc'), 
                               parse_dates=['START_DATE', 'END_DATE', 'REPORT_DAT'],
                               usecols=['START_DATE', 'END_DATE', 'REPORT_DAT', 'OFFENSE'])

In [714]:
df.head()

           REPORT_DAT      OFFENSE          START_DATE            END_DATE
0 2014-11-29 14:20:00      ROBBERY 2014-11-28 18:30:00 2014-11-29 14:00:00
1 2015-01-19 14:46:00      ROBBERY 2015-01-19 14:34:00 2015-01-19 14:46:00
2 2014-08-19 20:09:00     BURGLARY 2014-08-19 09:00:00 2014-08-19 20:09:00
3 2014-08-30 05:40:00  THEFT/OTHER 2014-08-30 04:51:00 2014-08-30 04:58:00
4 2014-07-02 02:56:00  THEFT/OTHER 2014-07-02 02:54:00 2014-07-02 02:54:00

- Drop all rows with a single empty value
- Drop all rows that start before 2012-01-01

In [715]:
def cleanup(df, datecols, datemin, dropna=True):
    rows = len(df)
    
    if dropna:
        df = df.dropna(how='any')
        
    for datecol in datecols:
        df = df[df[datecol].dt.date >= datemin]
    
    print 'Dropped {:d} rows'.format(rows - len(df))
    
    return df

In [716]:
df = cleanup(df, ['REPORT_DAT', 'START_DATE', 'END_DATE'], datetime.date(2012, 01, 01))

Dropped 27 rows

We're going off of the start date, so drop the other 2 date columns

In [717]:
try:
    df.drop(['REPORT_DAT', 'END_DATE'], axis=1, inplace=True)
except ValueError:
    pass

In [718]:
# Rename columns
df.columns = ['type', 'date']

In [719]:
df.head()

          type                date
0      ROBBERY 2014-11-28 18:30:00
1      ROBBERY 2015-01-19 14:34:00
2     BURGLARY 2014-08-19 09:00:00
3  THEFT/OTHER 2014-08-30 04:51:00
4  THEFT/OTHER 2014-07-02 02:54:00

In [720]:
# Overall statistics of dataset for later sanity checks
num_crimes = len(df)
print '{:d} crimes reported.'.format(num_crimes)
print '{:d} unique types of crimes.'.format(len(pd.unique(df['type'])))

print ''

print 'Breakdown of crimes by type:'
print df.groupby('type').count()['date']

54482 crimes reported.
9 unique types of crimes.

Breakdown of crimes by type:
type
ARSON                            34
ASSAULT W/DANGEROUS WEAPON     3415
BURGLARY                       4253
HOMICIDE                        166
MOTOR VEHICLE THEFT            4422
ROBBERY                        4777
SEX ABUSE                       423
THEFT F/AUTO                  16319
THEFT/OTHER                   20673
Name: date, dtype: int64

Strip off the minute and seconds, only care about the YMD/hour

In [721]:
df['date'] = pd.to_datetime(df['date'].map(lambda x: x.strftime('%Y-%m-%d %H:00:00')))

In [722]:
df.head()

          type                date
0      ROBBERY 2014-11-28 18:00:00
1      ROBBERY 2015-01-19 14:00:00
2     BURGLARY 2014-08-19 09:00:00
3  THEFT/OTHER 2014-08-30 04:00:00
4  THEFT/OTHER 2014-07-02 02:00:00

In [723]:
assert len(df) == num_crimes

In [724]:
df = pd.pivot_table(df, index='date', columns='type', aggfunc=len).fillna(0).reset_index()

In [725]:
df.head()

type,date,ARSON,ASSAULT W/DANGEROUS WEAPON,BURGLARY,HOMICIDE,MOTOR VEHICLE THEFT,ROBBERY,SEX ABUSE,THEFT F/AUTO,THEFT/OTHER
0,2012-01-17 21:00:00,0,0,0,0,0,0,0,1,0
1,2012-02-11 21:00:00,0,0,0,0,0,0,0,0,1
2,2012-03-13 09:00:00,0,0,0,0,0,0,0,0,1
3,2012-03-18 11:00:00,0,0,0,0,0,0,1,0,0
4,2012-03-31 15:00:00,0,0,0,0,0,0,0,1,0

In [726]:
df['total'] = df.sum(axis=1)
df.columns = map(str.lower, df.columns)

In [727]:
df.sort('total').tail()

,date,arson,assault w/dangerous weapon,burglary,homicide,motor vehicle theft,robbery,sex abuse,theft f/auto,theft/other,total
6276,2014-09-28 15:00:00,0,1,2,0,3,1,0,1,8,16
3642,2014-06-05 17:00:00,0,1,0,0,0,4,0,5,6,16
5434,2014-08-22 17:00:00,0,1,1,0,1,0,0,3,10,16
3220,2014-05-17 23:00:00,0,0,1,1,3,1,0,5,6,17
7032,2014-10-31 22:00:00,0,6,0,0,0,6,0,5,3,20

In [728]:
assert df['total'].sum() == num_crimes

In [729]:
df = df.apply(combine_dates, axis=1)

In [730]:
df.head()

,date,arson,assault w/dangerous weapon,burglary,homicide,motor vehicle theft,robbery,sex abuse,theft f/auto,theft/other,total,start_date
0,2012-1-17,0,0,0,0,0,0,0,1,0,1,1326834000000
1,2012-2-11,0,0,0,0,0,0,0,0,1,1,1328994000000
2,2012-3-13,0,0,0,0,0,0,0,0,1,1,1331629200000
3,2012-3-18,0,0,0,0,0,0,1,0,0,1,1332068400000
4,2012-3-31,0,0,0,0,0,0,0,1,0,1,1333206000000

In [731]:
df = df_rearrange_columns(df, 
                          ['date', 'arson', 'assault w/dangerous weapon', 'burglary',
                           'homicide', 'motor vehicle theft', 'robbery', 'sex abuse',
                           'theft f/auto', 'theft/other', 'total', 'start_date'],
                          ['date', 'start_date', 'arson', 'assault w/dangerous weapon', 'burglary',
                           'homicide', 'motor vehicle theft', 'robbery', 'sex abuse',
                           'theft f/auto', 'theft/other', 'total'])
df.head()

,date,start_date,arson,assault w/dangerous weapon,burglary,homicide,motor vehicle theft,robbery,sex abuse,theft f/auto,theft/other,total
0,2012-1-17,1326834000000,0,0,0,0,0,0,0,1,0,1
1,2012-2-11,1328994000000,0,0,0,0,0,0,0,0,1,1
2,2012-3-13,1331629200000,0,0,0,0,0,0,0,0,1,1
3,2012-3-18,1332068400000,0,0,0,0,0,0,1,0,0,1
4,2012-3-31,1333206000000,0,0,0,0,0,0,0,1,0,1

In [744]:
df.iloc[:, 2:] = df.iloc[:, 2:].astype(int)

In [753]:
df_to_json_split_wo_index(df, 
                          'dc_crime_data.json',
                          ['Date of Event', 
                           'Hour of Event (ms from epoch)', 
                           'Number of Arson Crimes',
                           'Number of Assault with a dangerous weapon Crimes',
                           'Number of Burglary Crimes',
                           'Number of Homicide Criems',
                           'Number of Motor Vehicle Theft Crimes',
                           'Number of Robbery Crimes',
                           'Number of Sex Abuse Crimes',
                           'Number of Theft of Items within a Vehicle Crimes',
                           'Number of Theft Crimes',
                           'Total Number of Crimes'])

In [754]:
# Sanity Checks
with open('dc_crime_data.json', 'rb') as infile:
    data = json.load(infile)
    print sum([x[11] for x in data['data']])

54482

In [755]:
len(df), len(pd.unique(df.start_date))

(12134, 12134)

# NYC Crime Data

## NYC Crime (Entity Analysis)

In [267]:
df = pd.read_csv(os.path.join(DATA_DIR, 'ny', 'stop_and_frisks.csv'),
                 parse_dates=['datestop'],
                 usecols=['datestop', 'timestop', 'crimsusp',
                          'arstmade', 'arstoffn', 'frisked', 'searched', 'contrabn',
                          'pistol', 'riflshot', 'asltweap', 'knifcuti', 'machgun', 'othrweap',
                          'sex', 'race', 'age', 'ht_feet', 'ht_inch', 'weight', 'haircolr', 'eyecolor', 'build', 
                          'stinter', 'crossst', 'xcoord', 'ycoord'])

In [268]:
with pd.option_context('display.max_columns', 999):
    print df.head()

  datestop  timestop       crimsusp arstmade arstoffn frisked searched  \
0  1012013       452  GRAND LARCENY        N                Y        N
1  1012013       315  GRAND LARCENY        N                N        N
2  1012013       300        ROBBERY        N                Y        Y
3  1012013      1212        ROBBERY        N                N        N
4  1012013      2300       BURGLARY        N                N        N

  contrabn pistol riflshot asltweap knifcuti machgun othrweap sex race age  \
0        N      N        N        N        N       N        N   M    B  41
1        N      N        N        N        N       N        N   M    A  32
2        N      N        N        N        N       N        N   M    B  20
3        N      N        N        N        N       N        N   M    B  57
4        N      N        N        N        N       N        N   M    B  31

   ht_feet  ht_inch  weight haircolr eyecolor build        stinter  \
0        5        9     200       BK       BR     M  FULTON STREET
1        6        0     150       BK       BR     T  FULTON STREET
2        5        7     170       BK       BR     Z  FULTON STREET
3        5       11     150       BK       BR     T   READE STREET
4        6        0     200       BR       BR     M  MERCER STREET

         crossst      xcoord      ycoord
0  CHURCH STREET      981349      198508
1  CHURCH STREET      981349      198508
2  CHURCH STREET      981349      198508
3  HUDSON STREET      981698      200203
4  PRINCE STREET      984642      203280

In [269]:
# Cleanup dates
def cleanup_time(t):
    t = str(t)
    l = len(t)
    
    assert l in (1, 2, 3, 4)
    
    if l == 1:
        return '00:0' + t
    elif l == 2:
        return '00:' + t
    elif l == 3:
        return '0%s:%s' % (t[0], t[1:])
    elif l == 4:
        return '%s:%s' % (t[0:2], t[2:])
    
def cleanup_date(d):
    d = str(d)
    l = len(d)
    
    assert l in (7, 8)
    
    if l == 7:
        return '0%s-%s-%s' % (d[0], d[1:3], d[3:])
    elif l == 8:
        return '%s-%s-%s' % (d[0:2], d[2:4], d[4:])
    
df['datestop'] = df['datestop'].map(cleanup_date)
df['timestop'] = df['timestop'].map(cleanup_time)

df['date'] = pd.to_datetime(df['datestop'].astype(str) + ' ' + df['timestop'].astype(str) + ':00')

try:
    df.drop(['datestop', 'timestop'], axis=1, inplace=True)
except ValueError:
    pass

In [270]:
df = df[~(df.isnull().any(axis=1))]

In [271]:
noloc_mask = (df['xcoord'].str.strip() == '') | (df['ycoord'].str.strip() == '')

len(df), len(df[noloc_mask])

df = df[~(noloc_mask)]
# only consider crimes with coordinates

In [272]:
len(df)

186557

In [273]:
epsg2263 = Proj(init='epsg:2263', preserve_units=True)

def project(row):
    lon, lat = epsg2263(int(row['xcoord']), 
                        int(row['ycoord']),
                        inverse=True)
    
    row['latitude'] = lat
    row['longitude'] = lon
    
    return row

df = df.apply(project, axis=1)

In [274]:
df.head()

,crimsusp,arstmade,arstoffn,frisked,searched,contrabn,pistol,riflshot,asltweap,knifcuti,...,haircolr,eyecolor,build,stinter,crossst,xcoord,ycoord,date,latitude,longitude
0,GRAND LARCENY,N,,Y,N,N,N,N,N,N,...,BK,BR,M,FULTON STREET,CHURCH STREET,981349,198508,2013-01-01 04:52:00,40.711534838,-74.010464128
1,GRAND LARCENY,N,,N,N,N,N,N,N,N,...,BK,BR,T,FULTON STREET,CHURCH STREET,981349,198508,2013-01-01 03:15:00,40.711534838,-74.010464128
2,ROBBERY,N,,Y,Y,N,N,N,N,N,...,BK,BR,Z,FULTON STREET,CHURCH STREET,981349,198508,2013-01-01 03:00:00,40.711534838,-74.010464128
3,ROBBERY,N,,N,N,N,N,N,N,N,...,BK,BR,T,READE STREET,HUDSON STREET,981698,200203,2013-01-01 12:12:00,40.716187316,-74.009205901
4,BURGLARY,N,,N,N,N,N,N,N,N,...,BR,BR,M,MERCER STREET,PRINCE STREET,984642,203280,2013-01-01 23:00:00,40.724633299,-73.998585748

In [275]:
df[['stinter', 'crossst', 'xcoord', 'ycoord', 'latitude', 'longitude']].to_csv('nyc_crime_geocoded_data.csv')

In [214]:
try:
    df.drop(['stinter', 'crossst'], axis=1, inplace=True)
    df.drop(['xcoord', 'ycoord'], axis=1, inplace=True)
except ValueError:
    pass

In [215]:
with pd.option_context('display.max_columns', 100):
    print df.head()

        crimsusp arstmade arstoffn frisked searched contrabn pistol riflshot  \
0  GRAND LARCENY        N                Y        N        N      N        N
1  GRAND LARCENY        N                N        N        N      N        N
2        ROBBERY        N                Y        Y        N      N        N
3        ROBBERY        N                N        N        N      N        N
4       BURGLARY        N                N        N        N      N        N

  asltweap knifcuti machgun othrweap sex race age  ht_feet  ht_inch  weight  \
0        N        N       N        N   M    B  41        5        9     200
1        N        N       N        N   M    A  32        6        0     150
2        N        N       N        N   M    B  20        5        7     170
3        N        N       N        N   M    B  57        5       11     150
4        N        N       N        N   M    B  31        6        0     200

  haircolr eyecolor build                date      latitude     longitude
0       BK       BR     M 2013-01-01 04:52:00  40.711534838 -74.010464128
1       BK       BR     T 2013-01-01 03:15:00  40.711534838 -74.010464128
2       BK       BR     Z 2013-01-01 03:00:00  40.711534838 -74.010464128
3       BK       BR     T 2013-01-01 12:12:00  40.716187316 -74.009205901
4       BR       BR     M 2013-01-01 23:00:00  40.724633299 -73.998585748

In [216]:
df.head()

,crimsusp,arstmade,arstoffn,frisked,searched,contrabn,pistol,riflshot,asltweap,knifcuti,...,age,ht_feet,ht_inch,weight,haircolr,eyecolor,build,date,latitude,longitude
0,GRAND LARCENY,N,,Y,N,N,N,N,N,N,...,41,5,9,200,BK,BR,M,2013-01-01 04:52:00,40.711534838,-74.010464128
1,GRAND LARCENY,N,,N,N,N,N,N,N,N,...,32,6,0,150,BK,BR,T,2013-01-01 03:15:00,40.711534838,-74.010464128
2,ROBBERY,N,,Y,Y,N,N,N,N,N,...,20,5,7,170,BK,BR,Z,2013-01-01 03:00:00,40.711534838,-74.010464128
3,ROBBERY,N,,N,N,N,N,N,N,N,...,57,5,11,150,BK,BR,T,2013-01-01 12:12:00,40.716187316,-74.009205901
4,BURGLARY,N,,N,N,N,N,N,N,N,...,31,6,0,200,BR,BR,M,2013-01-01 23:00:00,40.724633299,-73.998585748

In [217]:
mapping = {'frisked': 'frisked',
           'searched': 'searched',
           'contrabn': 'contraband',
           'pistol': 'pistol',
           'riflshot': 'rifle',
           'asltweap': 'assault weapon',
           'knifcuti': 'knife',
           'machgun': 'machine gun',
           'othrweap': 'weapon'}

def flags_description(row):
    flags = []
    
    for k, v in mapping.iteritems():
        if row[k] == 'Y':
            flags.append(v)
            
    row['flags'] = ', '.join(flags)
    
    return row

In [218]:
df = df.apply(flags_description, axis=1)

for col in mapping.keys():
    try:
        df.drop(col, axis=1, inplace=True)
    except ValueError:
        pass

df.head()

,crimsusp,arstmade,arstoffn,sex,race,age,ht_feet,ht_inch,weight,haircolr,eyecolor,build,date,latitude,longitude,flags
0,GRAND LARCENY,N,,M,B,41,5,9,200,BK,BR,M,2013-01-01 04:52:00,40.711534838,-74.010464128,frisked
1,GRAND LARCENY,N,,M,A,32,6,0,150,BK,BR,T,2013-01-01 03:15:00,40.711534838,-74.010464128,
2,ROBBERY,N,,M,B,20,5,7,170,BK,BR,Z,2013-01-01 03:00:00,40.711534838,-74.010464128,"frisked, searched"
3,ROBBERY,N,,M,B,57,5,11,150,BK,BR,T,2013-01-01 12:12:00,40.716187316,-74.009205901,
4,BURGLARY,N,,M,B,31,6,0,200,BR,BR,M,2013-01-01 23:00:00,40.724633299,-73.998585748,

In [219]:
race_map = {'B': 'Black',
            'A': 'Asian',
            'Q': 'White-Hispanic',
            'W': 'White',
            'P': 'Black-Hispanic',
            'I': 'American Indian'}

build_map = {'H': 'Heavy',
             'M': 'Medium',
             'T': 'Thin',
             'U': 'Muscular'}

hair_map = {'BR': 'Brown',
                    'BK': 'Black',
                    'BL': 'Blonde',
                    'SP': 'Salt and Pepper',
                    'BA': 'Bald',
                    'GY': 'Gray',
                    'DY': 'Dyed',
                    'SN': 'Sandy'}

eye_map  = {'BR': 'Brown',
                    'BK': 'Black',
                    'BL': 'Blue',
                    'GR': 'Green',
                    'HA': 'Hazel',
                    'SP': 'Salt and Pepper',
                    'GY': 'Gray'}

def person_description(row):
    desc = ''
    
    if row['age']:
        desc += '{} year old '.format(row['age'])
        
    if row['build'] in build_map:
        desc += '({} build) '.format(build_map[row['build']])
        
    if row['race'] and row['race'] in race_map:
        desc += '{} '.format(race_map[row['race']])
    
    if row['sex'] in ('M', 'F'):
        desc += '{},'.format('male' if row['sex'] == 'M' else 'female')
        
    if row['ht_feet'] and row['ht_inch']:
        desc += ' {}\' {}", '.format(row['ht_feet'],
                                     row['ht_inch'])
        
    if row['weight']:
        desc += '{} lb, '.format(row['weight'])
        
    if row['haircolr'] and row['haircolr'] in hair_map:
        desc += '{} hair, '.format(hair_map[row['haircolr']])
            
    if row['eyecolor'] and row['eyecolor'] in eye_map:
        desc += '{} eyes, '.format(eye_map[row['eyecolor']])
            
    row['description'] = desc.strip(' ').rstrip(', ')
    
    return row

In [220]:
df = df.apply(person_description, axis=1)

In [221]:
for col in ['age', 'build', 'race', 'sex', 'ht_feet', 'ht_inch', 'weight', 'haircolr', 'eyecolor']:
    try:
        df.drop(col, axis=1, inplace=True)
    except ValueError:
        pass

df.head()

,crimsusp,arstmade,arstoffn,date,latitude,longitude,flags,description
0,GRAND LARCENY,N,,2013-01-01 04:52:00,40.711534838,-74.010464128,frisked,"41 year old (Medium build) Black male, 5' 9"", ..."
1,GRAND LARCENY,N,,2013-01-01 03:15:00,40.711534838,-74.010464128,,"32 year old (Thin build) Asian male,150 lb, Bl..."
2,ROBBERY,N,,2013-01-01 03:00:00,40.711534838,-74.010464128,"frisked, searched","20 year old Black male, 5' 7"", 170 lb, Black h..."
3,ROBBERY,N,,2013-01-01 12:12:00,40.716187316,-74.009205901,,"57 year old (Thin build) Black male, 5' 11"", 1..."
4,BURGLARY,N,,2013-01-01 23:00:00,40.724633299,-73.998585748,,"31 year old (Medium build) Black male,200 lb, ..."

In [222]:
def final_description(row):
    desc = row['description']
    s = ''
    
    if row['arstmade'] == 'Y':
        s += 'Suspected {} , arrested for {}. '.format(row['crimsusp'],
                                                       row['arstoffn'])
    else:
        s += 'Suspected {}. '.format(row['crimsusp'])
        
    if row['description']:
        s += '{}. '.format(row['description'])
        
    if row['flags']:
        s += '[{}]'.format(row['flags'])
        
    row['description'] = s.strip()
        
    return row

In [223]:
df = df.apply(final_description, axis=1)
df.head()

,crimsusp,arstmade,arstoffn,date,latitude,longitude,flags,description
0,GRAND LARCENY,N,,2013-01-01 04:52:00,40.711534838,-74.010464128,frisked,Suspected GRAND LARCENY. 41 year old (Medium b...
1,GRAND LARCENY,N,,2013-01-01 03:15:00,40.711534838,-74.010464128,,Suspected GRAND LARCENY. 32 year old (Thin bui...
2,ROBBERY,N,,2013-01-01 03:00:00,40.711534838,-74.010464128,"frisked, searched","Suspected ROBBERY. 20 year old Black male, 5' ..."
3,ROBBERY,N,,2013-01-01 12:12:00,40.716187316,-74.009205901,,Suspected ROBBERY. 57 year old (Thin build) Bl...
4,BURGLARY,N,,2013-01-01 23:00:00,40.724633299,-73.998585748,,Suspected BURGLARY. 31 year old (Medium build)...

In [228]:
for col in ['crimsusp', 'arstmade', 'arstoffn', 'ht_inch', 'flags']:
    try:
        df.drop(col, axis=1, inplace=True)
    except ValueError:
        pass

df

,date,latitude,longitude,description
0,2013-01-01 04:52:00,40.711534838,-74.010464128,Suspected GRAND LARCENY. 41 year old (Medium b...
1,2013-01-01 03:15:00,40.711534838,-74.010464128,Suspected GRAND LARCENY. 32 year old (Thin bui...
2,2013-01-01 03:00:00,40.711534838,-74.010464128,"Suspected ROBBERY. 20 year old Black male, 5' ..."
3,2013-01-01 12:12:00,40.716187316,-74.009205901,Suspected ROBBERY. 57 year old (Thin build) Bl...
4,2013-01-01 23:00:00,40.724633299,-73.998585748,Suspected BURGLARY. 31 year old (Medium build)...
7,2013-01-01 17:45:00,40.714452833,-73.993878524,"Suspected BURGLARY , arrested for 140.15. 40 y..."
8,2013-01-01 02:00:00,40.728887678,-73.999271181,Suspected FELONY. 40 year old (Thin build) Bla...
9,2013-01-01 04:05:00,40.741521565,-74.007036964,Suspected FELONY. 25 year old (Medium build) m...
10,2013-01-01 00:30:00,40.710683421,-73.984702586,Suspected MISD. 40 year old (Medium build) Whi...
11,2013-01-01 01:40:00,40.712372026,-73.989936131,Suspected MISD. 23 year old (Thin build) Black...
12,2013-01-01 01:40:00,40.712372026,-73.989936131,Suspected FELONY. 26 year old (Medium build) B...
13,2013-01-01 01:50:00,40.712372026,-73.989936131,Suspected FELONY. 26 year old (Medium build) B...
14,2013-01-01 01:50:00,40.712372026,-73.989936131,Suspected FELONY. 22 year old (Medium build) B...
15,2013-01-01 03:35:00,40.726464526,-73.977089935,Suspected FELONY. 44 year old (Thin build) Whi...
16,2013-01-01 06:40:00,40.727090240,-73.976638730,Suspected FELONY. 50 year old (Medium build) W...
17,2013-01-01 08:15:00,40.731788425,-73.989691451,"Suspected FELONY , arrested for CPSP. 19 year ..."
18,2013-01-01 03:35:00,40.729712573,-73.982836458,Suspected ROBBERY. 32 year old (Heavy build) B...
19,2013-01-01 08:50:00,40.729712566,-73.982793161,Suspected DWI. 29 year old (Thin build) White ...
20,2013-01-01 03:00:00,40.731658963,-73.985444661,Suspected FELONY. 24 year old (Thin build) Whi...
21,2013-01-01 21:50:00,40.731815735,-73.988248177,Suspected CPW. 32 year old (Medium build) Whit...
23,2013-01-01 15:40:00,40.722878215,-73.983429879,Suspected GRAND LARCENY. 65 year old (Medium b...
24,2013-01-01 09:35:00,40.748076238,-74.001100762,"Suspected CRIM TRES , arrested for TRESPASS. 4..."
25,2013-01-01 19:10:00,40.748076238,-74.001100762,Suspected CRIM TRES. 59 year old (Medium build...
26,2013-01-01 05:30:00,40.741733085,-74.003081839,Suspected GRAND LARCENY. 32 year old (Thin bui...
27,2013-01-01 15:05:00,40.747236158,-73.993359423,Suspected MISD. 33 year old (Heavy build) Blac...
28,2013-01-01 15:03:00,40.739861098,-73.995016510,"Suspected MISDEMEANOR , arrested for 145.60. 2..."
31,2013-01-01 14:55:00,40.736635618,-73.989228822,Suspected FELONY. 25 year old (Thin build) Whi...
32,2013-01-01 21:55:00,40.757360842,-73.985771124,Suspected MISD. 38 year old (Thin build) Black...
33,2013-01-01 14:30:00,40.751441558,-73.976049103,Suspected SEX ABUSE. 27 year old (Medium build...
34,2013-01-01 18:25:00,40.752190434,-73.993463598,Suspected MISD. 19 year old (Medium build) Whi...
...,...,...,...,...
191820,2013-12-31 22:30:00,40.638185309,-74.131769429,Suspected CPW. 29 year old (Medium build) Blac...
191821,2013-12-31 22:30:00,40.830260492,-73.914851180,Suspected CPW. 21 year old (Thin build) Black ...
191822,2013-12-31 22:30:00,40.830260492,-73.914851180,Suspected CPW. 18 year old (Thin build) Black ...
191823,2013-12-31 22:30:00,40.837866229,-73.911390144,Suspected CPW. 25 year old (Heavy build) Black...
191824,2013-12-31 22:40:00,40.760772390,-73.984463668,Suspected MISD. 30 year old (Medium build) Asi...
191825,2013-12-31 22:40:00,40.760772390,-73.984463668,Suspected MISD. 32 year old (Medium build) Asi...
191826,2013-12-31 22:43:00,40.805553627,-73.938105443,"Suspected CPW , arrested for 265.03. 18 year o..."
191827,2013-12-31 22:43:00,40.851318462,-73.908411819,Suspected CPW. 30 year old (Thin build) White-...
191828,2013-12-31 22:45:00,40.687199748,-73.813315256,Suspected FELONY. 20 year old (Thin build) Asi...
191829,2013-12-31 22:45:00,40.687199748,-73.813315256,Suspected FELONY. 19 year old (Thin build) Asi...
191830,2013-12-31 22:45:00,40.673291180,-73.907791095,"Suspected MISD , arrested for CRIM TRESS. 22 y..."
191831,2013-12-31 22:50:00,40.860224118,-73.903924008,Suspected MISD. 31 year old (Thin build) Black...
191832,2013-12-31 22:58:00,40.839155953,-73.914644638,"Suspected CPW- MISDEMEANOR , arrested for CPW ..."
191833,2013-12-31 23:00:00,40.687442690,-73.812488852,Suspected FELONY. 18 year old (Thin build) Asi...
191835,2013-12-31 23:05:00,40.682560696,-73.985981781,Suspected FEL. 25 year old (Medium build) Blac...
191836,2013-12-31 23:07:00,40.572750730,-73.997044744,Suspected FEL. 14 year old (Thin build) Black ...
191837,2013-12-31 23:07:00,40.572750730,-73.997044744,Suspected FEL. 24 year old (Thin build) Black ...
191838,2013-12-31 23:15:00,40.823177732,-73.823953842,Suspected MISDEMEANOR. 21 year old (Thin build...
191839,2013-12-31 23:15:00,40.660285296,-73.890832785,Suspected GLA. 22 year old (Medium build) Blac...
191840,2013-12-31 23:15:00,40.800720722,-73.950636039,"Suspected MISD , arrested for CPW. 22 year old..."
191841,2013-12-31 23:20:00,40.824932143,-73.824303297,Suspected FELONY. 17 year old (Medium build) B...
191842,2013-12-31 23:20:00,40.829418662,-73.912254173,Suspected CPW. 27 year old (Thin build) Black ...
191843,2013-12-31 23:20:00,40.824932143,-73.824303297,Suspected FELONY. 18 year old (Medium build) B...
191844,2013-12-31 23:20:00,40.824294556,-73.825576825,Suspected FELONY. 18 year old (Medium build) B...
191845,2013-12-31 23:20:00,40.824932143,-73.824303297,Suspected FELONY. 16 year old (Medium build) B...
191846,2013-12-31 23:20:00,40.824932143,-73.824303297,Suspected FELONY. 16 year old (Medium build) B...
191847,2013-12-31 23:37:00,40.733248593,-73.989232977,"Suspected FELONY , arrested for CPW. 37 year o..."
191848,2013-12-31 23:50:00,40.854056524,-73.862933759,"Suspected FELONY , arrested for TAX 1814. 28 y..."
191849,2013-12-31 23:50:00,40.854056524,-73.862933759,"Suspected FELONY , arrested for TAX 1814. 26 y..."
191850,2013-12-31 23:50:00,40.830004849,-73.918110884,Suspected CPW. 33 year old (Medium build) Blac...

In [229]:
df['date'] = df['date'].map(lambda dt: int((dt - datetime.datetime(1970, 1, 1)).total_seconds() * 1000))

In [230]:
df.head()

,date,latitude,longitude,description
0,1357015920000,40.711534838,-74.010464128,Suspected GRAND LARCENY. 41 year old (Medium b...
1,1357010100000,40.711534838,-74.010464128,Suspected GRAND LARCENY. 32 year old (Thin bui...
2,1357009200000,40.711534838,-74.010464128,"Suspected ROBBERY. 20 year old Black male, 5' ..."
3,1357042320000,40.716187316,-74.009205901,Suspected ROBBERY. 57 year old (Thin build) Bl...
4,1357081200000,40.724633299,-73.998585748,Suspected BURGLARY. 31 year old (Medium build)...

In [231]:
df = df_rearrange_columns(df,
                          ['date', 'latitude', 'longitude', 'description'],
                          ['date', 'latitude', 'longitude', 'description'])
df.head()

,date,latitude,longitude,description
0,1357015920000,40.711534838,-74.010464128,Suspected GRAND LARCENY. 41 year old (Medium b...
1,1357010100000,40.711534838,-74.010464128,Suspected GRAND LARCENY. 32 year old (Thin bui...
2,1357009200000,40.711534838,-74.010464128,"Suspected ROBBERY. 20 year old Black male, 5' ..."
3,1357042320000,40.716187316,-74.009205901,Suspected ROBBERY. 57 year old (Thin build) Bl...
4,1357081200000,40.724633299,-73.998585748,Suspected BURGLARY. 31 year old (Medium build)...

In [232]:
df_to_json_split_wo_index(df,
                          'nyc_crime_entity_data.json',
                          ['Date of Event (ms from epoch)',
                           'Latitude of Event',
                           'Longitude of Event',
                           'Description'])

## NYC Crime (Time Series Analysis)

In [602]:
df = pd.read_csv(os.path.join(DATA_DIR, 'ny', 'stop_and_frisks.csv'),
                 parse_dates=['datestop'],
                 usecols=['year', 'datestop', 'timestop'],
                 encoding='utf-8')

In [603]:
with pd.option_context('display.max_columns', 1000):
    print df.head()

   year datestop  timestop
0  2013  1012013       452
1  2013  1012013       315
2  2013  1012013       300
3  2013  1012013      1212
4  2013  1012013      2300

In [604]:
# Overall statistics of dataset for later sanity checks
num_crimes = len(df)
print '{:d} crimes reported.'.format(num_crimes)

191851 crimes reported.

In [605]:
def cleanup_time(t):
    t = str(t)
    l = len(t)
    
    assert l in (1, 2, 3, 4)
    
    if l == 1:
        return '00:0' + t
    elif l == 2:
        return '00:' + t
    elif l == 3:
        return '0%s:%s' % (t[0], t[1:])
    elif l == 4:
        return '%s:%s' % (t[0:2], t[2:])
    
def cleanup_date(d):
    d = str(d)
    l = len(d)
    
    assert l in (7, 8)
    
    if l == 7:
        return '0%s-%s-%s' % (d[0], d[1:3], d[3:])
    elif l == 8:
        return '%s-%s-%s' % (d[0:2], d[2:4], d[4:])

In [606]:
df['datestop'] = df['datestop'].map(cleanup_date)
df['timestop'] = df['timestop'].map(cleanup_time)

In [607]:
try:
    df.drop('year', axis=1, inplace=True)
except ValueError:
    pass

In [608]:
df.head()

     datestop timestop
0  01-01-2013    04:52
1  01-01-2013    03:15
2  01-01-2013    03:00
3  01-01-2013    12:12
4  01-01-2013    23:00

In [609]:
df['date'] = pd.to_datetime(df['datestop'].astype(str) + ' ' + df['timestop'].astype(str) + ':00')

In [610]:
try:
    df.drop(['datestop', 'timestop'], axis=1, inplace=True)
except ValueError:
    pass

In [611]:
df.head()

                 date
0 2013-01-01 04:52:00
1 2013-01-01 03:15:00
2 2013-01-01 03:00:00
3 2013-01-01 12:12:00
4 2013-01-01 23:00:00

In [612]:
df['date'] = df['date'].map(lambda x: x.strftime('%Y-%m-%d %H:00:00'))
df['date'] = pd.to_datetime(df['date'])

In [613]:
df.head()

                 date
0 2013-01-01 04:00:00
1 2013-01-01 03:00:00
2 2013-01-01 03:00:00
3 2013-01-01 12:00:00
4 2013-01-01 23:00:00

In [614]:
df['start_date'] = 0 # not sure why this is required right now
df = df.apply(combine_dates, axis=1)
df.head()

       date     start_date
0  2013-1-1  1357012800000
1  2013-1-1  1357009200000
2  2013-1-1  1357009200000
3  2013-1-1  1357041600000
4  2013-1-1  1357081200000

In [615]:
data = df.groupby(['start_date', 'date']).size().reset_index()
data.head()

      start_date      date    0
0  1356998400000  2013-1-1   69
1  1357002000000  2013-1-1  103
2  1357005600000  2013-1-1   62
3  1357009200000  2013-1-1   62
4  1357012800000  2013-1-1   42

In [616]:
data = df_rearrange_columns(data,
                            ['start_date', 'date', 'events'],
                            ['date', 'start_date', 'events'])

In [617]:
data.head()

       date     start_date  events
0  2013-1-1  1356998400000      69
1  2013-1-1  1357002000000     103
2  2013-1-1  1357005600000      62
3  2013-1-1  1357009200000      62
4  2013-1-1  1357012800000      42

In [618]:
assert data['events'].sum() == num_crimes

In [619]:
df_to_json_split_wo_index(data, 
                          'nyc_crime_data.json',
                          ['Date of Event', 'Hour of Event (ms from epoch)', 'Number of Events'])